@charset "UTF-8";
/* line 1, static/fss/scss/guideindex.scss */
.nav {
  position: fixed;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 7, static/fss/scss/guideindex.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 11, static/fss/scss/guideindex.scss */
body {
  background: #e0e5ec;
}

/* line 14, static/fss/scss/guideindex.scss */
body > div {
  max-width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

/* line 22, static/fss/scss/guideindex.scss */
body > div > * {
  border: 1px solid #eee;
}

/* line 25, static/fss/scss/guideindex.scss */
body > div > *:nth-child(1) {
  -ms-flex-preferred-size: 250px;
  flex-basis: 250px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  padding-left: 10px;
  font-weight: 400;
  font-family: "맑은 고딕", serif;
  color: #353535;
  text-align: left;
}

/* line 40, static/fss/scss/guideindex.scss */
body > div > *:nth-child(2) {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 10px;
}

/* line 46, static/fss/scss/guideindex.scss */
h1 {
  font-size: inherit;
}

/* line 50, static/fss/scss/guideindex.scss */
h1 {
  position: relative;
  text-align: center;
  font-size: 50px;
  font-size: 30px;
}

/* line 57, static/fss/scss/guideindex.scss */
ol,
ul {
  margin-left: 20px;
  margin-left: 0;
  padding-left: 20px;
  list-style-position: inside;
}

/* line 64, static/fss/scss/guideindex.scss */
a {
  text-decoration: none;
  color: #141414;
  display: inline-block;
  padding: 5px 0;
}

/* line 69, static/fss/scss/guideindex.scss */
a:hover,
a:focus {
  text-decoration: underline;
}

/* line 76, static/fss/scss/guideindex.scss */
.custom-btn {
  margin: 5px 0;
  min-width: 140px;
  text-align: center; /* width: 130px; */ /* height: 40px; */
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  font-size: 18px;
}

/* 1 */
/* line 98, static/fss/scss/guideindex.scss */
.btn-1 {
  background: #060e83;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#060e83),
    to(#0c19b4)
  );
  background: linear-gradient(0deg, #060e83 0%, #0c19b4 100%);
  border: none;
}

/* line 103, static/fss/scss/guideindex.scss */
.btn-1:hover {
  background: #0003ff;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#0003ff),
    to(#027efb)
  );
  background: linear-gradient(0deg, #0003ff 0%, #027efb 100%);
}

/* 2 */
/* line 109, static/fss/scss/guideindex.scss */
.btn-2 {
  background: #6009f0;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#6009f0),
    to(#8105f0)
  );
  background: linear-gradient(0deg, #6009f0 0%, #8105f0 100%);
  border: none;
}

/* line 114, static/fss/scss/guideindex.scss */
.btn-2:before {
  height: 0%;
  width: 2px;
}

/* line 118, static/fss/scss/guideindex.scss */
.btn-2:hover {
  -webkit-box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

/* 3 */
/* line 123, static/fss/scss/guideindex.scss */
.btn-3 {
  background: #00acee;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#00acee),
    to(#027efb)
  );
  background: linear-gradient(0deg, #00acee 0%, #027efb 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}

/* line 132, static/fss/scss/guideindex.scss */
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 138, static/fss/scss/guideindex.scss */
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #027efb;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 147, static/fss/scss/guideindex.scss */
.btn-3:before {
  height: 0%;
  width: 2px;
}

/* line 151, static/fss/scss/guideindex.scss */
.btn-3:after {
  width: 0%;
  height: 2px;
}

/* line 155, static/fss/scss/guideindex.scss */
.btn-3:hover {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 159, static/fss/scss/guideindex.scss */
.btn-3:hover:before {
  height: 100%;
}

/* line 162, static/fss/scss/guideindex.scss */
.btn-3:hover:after {
  width: 100%;
}

/* line 165, static/fss/scss/guideindex.scss */
.btn-3 span:hover {
  color: #027efb;
}

/* line 168, static/fss/scss/guideindex.scss */
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #027efb;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 177, static/fss/scss/guideindex.scss */
.btn-3 span:before {
  width: 2px;
  height: 0%;
}

/* line 181, static/fss/scss/guideindex.scss */
.btn-3 span:after {
  width: 0%;
  height: 2px;
}

/* line 185, static/fss/scss/guideindex.scss */
.btn-3 span:hover:before {
  height: 100%;
}

/* line 188, static/fss/scss/guideindex.scss */
.btn-3 span:hover:after {
  width: 100%;
}

/* 4 */
/* line 193, static/fss/scss/guideindex.scss */
.btn-4 {
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}

/* line 200, static/fss/scss/guideindex.scss */
.btn-4:hover {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}

/* line 204, static/fss/scss/guideindex.scss */
.btn-4 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 210, static/fss/scss/guideindex.scss */
.btn-4:before,
.btn-4:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  -webkit-box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 219, static/fss/scss/guideindex.scss */
.btn-4:before {
  height: 0%;
  width: 0.1px;
}

/* line 223, static/fss/scss/guideindex.scss */
.btn-4:after {
  width: 0%;
  height: 0.1px;
}

/* line 227, static/fss/scss/guideindex.scss */
.btn-4:hover:before {
  height: 100%;
}

/* line 230, static/fss/scss/guideindex.scss */
.btn-4:hover:after {
  width: 100%;
}

/* line 233, static/fss/scss/guideindex.scss */
.btn-4 span:before,
.btn-4 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  -webkit-box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 242, static/fss/scss/guideindex.scss */
.btn-4 span:before {
  width: 0.1px;
  height: 0%;
}

/* line 246, static/fss/scss/guideindex.scss */
.btn-4 span:after {
  width: 0%;
  height: 0.1px;
}

/* line 250, static/fss/scss/guideindex.scss */
.btn-4 span:hover:before {
  height: 100%;
}

/* line 253, static/fss/scss/guideindex.scss */
.btn-4 span:hover:after {
  width: 100%;
}

/* 5 */
/* line 258, static/fss/scss/guideindex.scss */
.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: #ff1b00;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#ff1b00),
    to(#fb4b02)
  );
  background: linear-gradient(0deg, #ff1b00 0%, #fb4b02 100%);
}

/* line 267, static/fss/scss/guideindex.scss */
.btn-5:hover {
  color: #f0094a;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 272, static/fss/scss/guideindex.scss */
.btn-5:before,
.btn-5:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f0094a;
  -webkit-box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all;
}

/* line 284, static/fss/scss/guideindex.scss */
.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

/* line 290, static/fss/scss/guideindex.scss */
.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
}

/* 6 */
/* line 297, static/fss/scss/guideindex.scss */
.btn-6 {
  background: #f796c0;
  background: radial-gradient(circle, #f796c0 0%, #76aef1 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

/* line 304, static/fss/scss/guideindex.scss */
.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 310, static/fss/scss/guideindex.scss */
.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  -webkit-box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white,
    7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white,
    7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

/* line 318, static/fss/scss/guideindex.scss */
.btn-6:before {
  right: 0;
  top: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

/* line 323, static/fss/scss/guideindex.scss */
.btn-6:after {
  left: 0;
  bottom: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

/* line 328, static/fss/scss/guideindex.scss */
.btn-6:hover {
  background: transparent;
  color: #76aef1;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 333, static/fss/scss/guideindex.scss */
.btn-6:hover:before {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  height: 100%;
}

/* line 337, static/fss/scss/guideindex.scss */
.btn-6:hover:after {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  height: 100%;
}

/* line 341, static/fss/scss/guideindex.scss */
.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  -webkit-box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white,
    7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -1px -1px 20px 0px white, -4px -4px 5px 0px white,
    7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

/* line 347, static/fss/scss/guideindex.scss */
.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 0.5px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

/* line 354, static/fss/scss/guideindex.scss */
.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 0.5px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

/* line 361, static/fss/scss/guideindex.scss */
.btn-6 span:hover:before {
  width: 100%;
}

/* line 364, static/fss/scss/guideindex.scss */
.btn-6 span:hover:after {
  width: 100%;
}

/* 7 */
/* line 369, static/fss/scss/guideindex.scss */
.btn-7 {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#ff9700),
    to(#fb4b02)
  );
  background: linear-gradient(0deg, #ff9700 0%, #fb4b02 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

/* line 375, static/fss/scss/guideindex.scss */
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 383, static/fss/scss/guideindex.scss */
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #fb4b02;
  -webkit-box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 393, static/fss/scss/guideindex.scss */
.btn-7:before {
  height: 0%;
  width: 2px;
}

/* line 397, static/fss/scss/guideindex.scss */
.btn-7:after {
  width: 0%;
  height: 2px;
}

/* line 401, static/fss/scss/guideindex.scss */
.btn-7:hover {
  color: #fb4b02;
  background: transparent;
}

/* line 405, static/fss/scss/guideindex.scss */
.btn-7:hover:before {
  height: 100%;
}

/* line 408, static/fss/scss/guideindex.scss */
.btn-7:hover:after {
  width: 100%;
}

/* line 411, static/fss/scss/guideindex.scss */
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #fb4b02;
  -webkit-box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 421, static/fss/scss/guideindex.scss */
.btn-7 span:before {
  width: 2px;
  height: 0%;
}

/* line 425, static/fss/scss/guideindex.scss */
.btn-7 span:after {
  height: 2px;
  width: 0%;
}

/* line 429, static/fss/scss/guideindex.scss */
.btn-7 span:hover:before {
  height: 100%;
}

/* line 432, static/fss/scss/guideindex.scss */
.btn-7 span:hover:after {
  width: 100%;
}

/* 8 */
/* line 437, static/fss/scss/guideindex.scss */
.btn-8 {
  background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}

/* line 444, static/fss/scss/guideindex.scss */
.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 450, static/fss/scss/guideindex.scss */
.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb; /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5), -4px -4px 6px 0 rgba(116, 125, 136, .2),  inset -4px -4px 6px 0 rgba(255,255,255,.5), inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 463, static/fss/scss/guideindex.scss */
.btn-8:before {
  height: 0%;
  width: 2px;
}

/* line 467, static/fss/scss/guideindex.scss */
.btn-8:after {
  width: 0%;
  height: 2px;
}

/* line 471, static/fss/scss/guideindex.scss */
.btn-8:hover:before {
  height: 100%;
}

/* line 474, static/fss/scss/guideindex.scss */
.btn-8:hover:after {
  width: 100%;
}

/* line 477, static/fss/scss/guideindex.scss */
.btn-8:hover {
  background: transparent;
}

/* line 480, static/fss/scss/guideindex.scss */
.btn-8 span:hover {
  color: #c797eb;
}

/* line 483, static/fss/scss/guideindex.scss */
.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb; /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5), -4px -4px 6px 0 rgba(116, 125, 136, .2),  inset -4px -4px 6px 0 rgba(255,255,255,.5), inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 496, static/fss/scss/guideindex.scss */
.btn-8 span:before {
  width: 2px;
  height: 0%;
}

/* line 500, static/fss/scss/guideindex.scss */
.btn-8 span:after {
  height: 2px;
  width: 0%;
}

/* line 504, static/fss/scss/guideindex.scss */
.btn-8 span:hover:before {
  height: 100%;
}

/* line 507, static/fss/scss/guideindex.scss */
.btn-8 span:hover:after {
  width: 100%;
}

/* 9 */
/* line 512, static/fss/scss/guideindex.scss */
.btn-9 {
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

/* line 517, static/fss/scss/guideindex.scss */
.btn-9:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 529, static/fss/scss/guideindex.scss */
.btn-9:hover {
  background: transparent;
  -webkit-box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}

/* line 534, static/fss/scss/guideindex.scss */
.btn-9:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  -webkit-box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

/* 10 */
/* line 541, static/fss/scss/guideindex.scss */
.btn-10 {
  background: #1609f0;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#1609f0),
    to(#316ef4)
  );
  background: linear-gradient(0deg, #1609f0 0%, #316ef4 100%);
  color: #fff;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

/* line 549, static/fss/scss/guideindex.scss */
.btn-10:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}

/* line 561, static/fss/scss/guideindex.scss */
.btn-10:hover {
  color: #fff;
  border: none;
  background: transparent;
}

/* line 566, static/fss/scss/guideindex.scss */
.btn-10:hover:after {
  background: #0003ff;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#027efb),
    to(#0003ff)
  );
  background: linear-gradient(0deg, #027efb 0%, #0003ff 100%);
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* 11 */
/* line 574, static/fss/scss/guideindex.scss */
.btn-11 {
  border: none;
  background: #fb2175;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#fb2175),
    to(#ea4c89)
  );
  background: linear-gradient(0deg, #fb2175 0%, #ea4c89 100%);
  color: #fff;
  overflow: hidden;
}

/* line 581, static/fss/scss/guideindex.scss */
.btn-11:hover {
  text-decoration: none;
  color: #fff;
}

/* line 585, static/fss/scss/guideindex.scss */
.btn-11:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  -webkit-animation: shiny-btn1 3s ease-in-out infinite;
  animation: shiny-btn1 3s ease-in-out infinite;
}

/* line 596, static/fss/scss/guideindex.scss */
.btn-11:hover {
  opacity: 0.7;
}

/* line 599, static/fss/scss/guideindex.scss */
.btn-11:active {
  -webkit-box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

/* 12 */
/* line 622, static/fss/scss/guideindex.scss */
.btn-12 {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

/* line 634, static/fss/scss/guideindex.scss */
.btn-12 span {
  background: #00acee;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#00acee),
    to(#027efb)
  );
  background: linear-gradient(0deg, #00acee 0%, #027efb 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 651, static/fss/scss/guideindex.scss */
.btn-12 span:nth-child(1) {
  -webkit-box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

/* line 660, static/fss/scss/guideindex.scss */
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

/* line 668, static/fss/scss/guideindex.scss */
.btn-12:hover span:nth-child(1) {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

/* line 674, static/fss/scss/guideindex.scss */
.btn-12:hover span:nth-child(2) {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

/* 13 */
/* line 683, static/fss/scss/guideindex.scss */
.btn-13 {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}

/* line 689, static/fss/scss/guideindex.scss */
.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  -webkit-box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 703, static/fss/scss/guideindex.scss */
.btn-13:hover {
  color: #fff;
}

/* line 706, static/fss/scss/guideindex.scss */
.btn-13:hover:after {
  top: 0;
  height: 100%;
}

/* line 710, static/fss/scss/guideindex.scss */
.btn-13:active {
  top: 2px;
}

/* 14 */
/* line 715, static/fss/scss/guideindex.scss */
.btn-14 {
  background: #ff9700;
  border: none;
  z-index: 1;
}

/* line 720, static/fss/scss/guideindex.scss */
.btn-14:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #eaf818;
  background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5) 7px 7px
      20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5) 7px 7px 20px 0px
      rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 734, static/fss/scss/guideindex.scss */
.btn-14:hover {
  color: #000;
}

/* line 737, static/fss/scss/guideindex.scss */
.btn-14:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}

/* line 742, static/fss/scss/guideindex.scss */
.btn-14:active {
  top: 2px;
}

/* 15 */
/* line 747, static/fss/scss/guideindex.scss */
.btn-15 {
  background: #b621fe;
  border: none;
  z-index: 1;
}

/* line 752, static/fss/scss/guideindex.scss */
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 765, static/fss/scss/guideindex.scss */
.btn-15:hover {
  color: #fff;
}

/* line 768, static/fss/scss/guideindex.scss */
.btn-15:hover:after {
  left: 0;
  width: 100%;
}

/* line 772, static/fss/scss/guideindex.scss */
.btn-15:active {
  top: 2px;
}

/* line 776, static/fss/scss/guideindex.scss */
.gogogo {
  margin: 5px 0;
  display: inline-block;
  padding: 15px;
  line-height: 1;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 40px 40px;
  text-shadow: 0 0 1px #000000;
  background-color: #d9534f;
  color: #fff;
  border: 1px solid #d9534f;
  border-radius: 10px;
}

/* 16 */
/* line 795, static/fss/scss/guideindex.scss */
.btn-16 {
  border: none;
  color: #000;
}

/* line 799, static/fss/scss/guideindex.scss */
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  -webkit-box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 811, static/fss/scss/guideindex.scss */
.btn-16:hover {
  color: #000;
}

/* line 814, static/fss/scss/guideindex.scss */
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

/* line 819, static/fss/scss/guideindex.scss */
.btn-16:active {
  top: 2px;
}
