.dialogs{
	//opacity: .7;
}
.debug {
	position: fixed;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	text-align: center;
	opacity: 0.6;
	//background: #000 url(/static/teacher/img/tmp/debug/MTH_H04_01.png) no-repeat center center;
	&.ETH_00{ background: #000 url(/static/teacher/img/tmp/debug/ETH_00.png) no-repeat center center; }
	&.ETH_07_01{ background: #000 url(/static/teacher/img/tmp/debug/ETH_07_01.png) no-repeat center center; }
	//&.hamburger{ background: #000 url(/static/teacher/img/tmp/debug/hamburger.png) no-repeat center center; }
}