@charset "utf-8";
/* ONLINEPOWERS FED */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	letter-spacing:-0.5px;
	font: inherit;
	/* vertical-align: baseline; */
	vertical-align: middle;
	font-family: 'Nanum Gothic','NanumGothic','나눔고딕','나눔 고딕','돋움', Dotum, AppleGothic, sans-serif;
	/* color:#fff; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	text-align:left; word-break:break-word;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img,fieldset,iframe {
	border:0 none;
}

a{color:#000; text-decoration:none}
a:hover{color:#000; text-decoration:none}
a:active, a:focus {outline:none;}
/* a:active {background-color: yellow;} */


/* Start of "Micro clearfix" */
.cf { zoom: 1; }
.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }
/* End of "Micro clearfix" */


/* Start of Mobile Form Default */
input[type='text'],input[type='password'],input[type='image'],input[type='search']{-webkit-appearance:none;-webkit-border-radius:0}
/* End of Mobile Form Default */

 /* 대체 텍스트 숨김 */
.ir_pm{width:1px; height:1px; overflow:hidden; text-indent:-1000em; position:absolute; left:-1000px;}