html,
body,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 252, 248);
}

$main-collor: #817361;
$border-color: #c4b096;

main {

    & header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        border-left: {
            color: $main-collor;
            width: 8px;
            style: solid;
        }

        &>div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-left: 10px;

            &>img {
                width: 22px;
                height: 22px;
            }

            &>h1 {
                font-size: 18px;
                color: $main-collor;
            }
        }

        .switch {
            margin-right: 20px;
            position: relative;
            width: 75px;
            height: 28px;

            input[type=checkbox] {
                opacity: 0;
                width: 0;
                height: 0;

                &:checked+.slider .on {
                    opacity: 0;
                }

                &:checked+.slider .off {
                    opacity: 1;
                }

                &:checked+.slider:before {
                    background-color: rgb(129, 115, 97);
                    border: 1px solid #a39da6;
                }

                &:not(:checked)+.slider .on {
                    opacity: 1;
                }

                &:not(:checked)+.slider .off {
                    opacity: 0;
                }
            }

            .switch_label {
                color: rgb(129, 115, 97);
                position: absolute;
                left: -145px;
                top: 1px;
                font-size: 18px;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid $border-color;
                background-color: #fff;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 34px;
                display: flex;
                justify-content: center;
                align-items: center;

                .on,
                .off {
                    font-size: 18px;
                    color: #a39da6;
                }

                &:before {
                    position: absolute;
                    content: "";
                    height: 22px;
                    width: 22px;
                    left: 3px;
                    bottom: 1px;
                    background-color: #FF7F50;
                    border: 1px solid #e36030;
                    -webkit-transition: .4s;
                    transition: .4s;
                    border-radius: 50%;
                }
            }

            input:checked+.slider:before {
                -webkit-transform: translateX(43px);
                -ms-transform: translateX(43px);
                transform: translateX(43px);
            }
        }


    }

    & .contents {
        display: flex;
        gap: 20px;
        padding: 20px 50px;

        @media screen and (max-width: 1050px) {
            flex-direction: column;
        }

        & .side_wrap {
            display: flex;
            flex-direction: column;
            gap: 5px;

            & .monitoring {
                max-width: 422px;
                border: 3px solid $border-color;
                border-radius: 10px;

                &>img {
                    width: 100%;
                }
            }

            & .monitoring_text {
                &>p {
                    margin: 10px 0;
                    color: $main-collor;
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }

        & .list_wrap {
            width: 100%;
            color: $main-collor;

            & .connecting {
                display: flex;
                gap: 20px;

                &>span {
                    font-size: 18px;
                }

                & strong {
                    color: rgb(0, 180, 204);
                }
            }

            & .absent_title {
                margin-top: 2rem;
            }

            & .grid_wrap {
                margin-top: 10px;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                grid-gap: 20px;

                & .grid_box {
                    max-width: 312px;
                    display: flex;
                    gap: 10px;
                    border: 1px solid $border-color;
                    border-radius: 15px;
                    background-color: #fff;
                    padding: 1rem;
                    cursor: pointer;

                    &:hover:not(.absent) {
                        border-color: #FF4C0D;
                        background-color: #FFF9F2;
                        font-weight: 700;
                    }

                    & .grid_card {
                        display: flex;
                        flex-direction: column;

                        & span {
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            & img {
                                width: 14px;
                            }
                        }
                    }
                }

                & .absent {
                    background-color: #e9e9e9;
                    border: 1px solid #A39DA6;
                    cursor: default;
                }
            }
        }
    }
}