@import url("/static/teacher/css/default.css");

@import "components/qareq"; // 질문하기 채팅 박스


// layout
$main-color: #fff;
$white-color: #fff;
$point-color: #2e645b;
$orange-color: #9dd75b;
$blue-color: #7364ff;
$off-color: #212321;
$off-font-color: #767676;
$header-font-color: #fff;

$z-header: 100;
$z-drop-btn: 100;
$z-over-draw: 100;
$z-monitoring: 1000;
$z-app: 10000;

