.sidebar {
  position: relative;
  z-index: 100;
  background-color: var(--light-tan);
  padding: 20px 16px;
  width: 380px;
  border-radius: 0 30px 30px 0;
  margin-right: 20px;
  transition: all .3s;
  .full-main &{
    position: absolute;
    z-index: 200;
    top: 80px;
    height: calc(100vh - 80px - 20px);
  }
  &--visible{
    position: absolute;
    z-index: 100;
    top: 0;
    right: 15px;
    width: 30px;
    transform: translateX(30px);
    writing-mode: vertical-lr;
    border-radius: 0 20px 20px 0;
    height: 122px;
    background-color: var(--light-tan);
    text-align: center;
    &::after{
      @include font-ico-outline('\e5df');
      transform: rotate(180deg);
    }
    &::before{
      content:'';
      position: absolute;
      z-index: -1;
      right: 30px;
      display: block;
      width: 40px;
      height: 40px;
      background-color: var(--light-tan);
    }
  }
  .sidebarSet{
    height: 100%;
    width: auto;
    transition: all .3s;
  }
  &.sidebar--hide{
    width: 0;
    padding: 0;
    .sidebar--visible{
      right: 100%;
      &::after{
        transition: all .3s;
        transform: rotate(0);
      }
    }
    .sidebarSet{
      width: 0;
      overflow: hidden;
    }
  }
  .main-container.reverse &{
    border-radius: 30px 0 0 30px;
    margin-right: 0;
    margin-left: 20px;
  }
  &__button{
    position: relative;
    z-index: 110;
    display: flex;
    width: 100%;
    gap:5px;
    margin-bottom: 15px;
    button{
      justify-content: space-between;
      border-radius: 6px;
      background-color: var(--white);
      font-size: 14px;
      height: 26px;
      padding: 0 8px;
      color: var(--brownish-grey);
      white-space: nowrap;
      &::before{
        content:'';
        width: 20px;
        height: 20px;
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
      }
      &.sidebar__button--sequence::before{ background: url(/static/teacher/img/ico/aside_sequence@2x.png) no-repeat center center/17px auto;}
      &.sidebar__button--showhide::before{ background: url(/static/teacher/img/ico/aside_hide@2x.png) no-repeat center center/17px auto;}
      &.sidebar__button--leftFixed::before{ background: url(/static/teacher/img/ico/aside_right@2x.png) no-repeat center center/17px auto;}
      &.sidebar__button--rightFixed::before{ background: url(/static/teacher/img/ico/aside_right@2x.png) no-repeat center center/17px auto; transform: rotateY(180deg);}
    }
  }
  &__section {
    position: relative;
    z-index: 120;
    margin-bottom: 20px;
    border-radius: 8px; 
    //background-color: #fff; 
    height: calc(100% - 40px);
    overflow-y: auto;
    transition: all .3s;
    .sidebar--hide &{
      width: 0;
      padding: 0;
      overflow: hidden;
    }
  }

  &__title {
    font-size: 1.2rem; 
    color: #333; 
    padding:0;
    margin-bottom: 10px;
  }
  h3{
    position: relative;
    z-index: 1;
    line-height: 1;
    font-size: 13px;
    &::before{
      content:'';
      position: absolute;
      top: 50%;
      z-index: -1;
      width: 100%;
      height: 1px;
      border-bottom:1px dashed var(--melon);
    }
    span{
      position: relative;
      display: inline-block;
      padding:3px 10px;
      background-color: var(--melon);
      &::after{
        content:'';
        position: absolute;
        top: 0;
        left: 100%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-left-color: var(--melon);
      }
    }
  }

  &__content {

    
  }
  &__list{
    margin: 0;
    padding: 0;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    gap:10px;
    margin-bottom: 30px;
    .sidebar__opening{
      flex-basis: 22px;
      button{
        &::before{
          content: '';
          display: block;
          width: 22px;
          height: 22px;
        }
        &.on::before{
          background: url(/static/teacher/img/ico/aside_on@2x.png) no-repeat center center/22px auto;
        }
        &.off::before{
          background: url(/static/teacher/img/ico/aside_off@2x.png) no-repeat center center/22px auto;
        }
      }
    }
    .sidebar__link{
      img{
        border-radius: 12px;
        border: solid 3px transparent;
      }
      &.active {
        color: var(--orangered);
        font-weight: 600;
        img{
          border: solid 3px var(--orangered);
        }
        span{
          display: block;
          margin-top: 5px;
        }
      }
    }
    .chapter-settings{
      flex-basis: 40px;
      position: relative;
      &__configure{
        display: block;
        width: 40px;
        height: 40px;
        background: url(/static/teacher/img/ico/aside_setting@2x.png) no-repeat center center/22px auto;
        &[aria-expanded='true'] ~ .chapter-settings__menu{
          display: block;
        }
      }
      &__menu{
        position: absolute;
        top: 40px;
        right: 0;
        display: none;
        width: 200px;
        background-color: var(--camo-green);
        border-radius: 10px;
        padding:10px 0;
        &::before{
          content:'';
          position: absolute;
          top: -18px;
          right: 10px;
          width: 0;
          height: 0;
          border: 10px solid transparent;
          border-bottom-color: var(--camo-green);
          transform: scaleX(.8);
        }
        a{
          display: block;
          text-align: right;
          color: var(--white);
          padding:3px 20px
        }
      }
    }
  }
}