@media (prefers-color-scheme: light) {}

@media (prefers-color-scheme: dark) {}

[data-theme=light],
:root {
	/* default Color */
	--black: #1d1c1a;
  --black-two: #000;
  --black2: #343434;
  --greyish-brown: #5a5a5a;
  --dirt-brown: #614b2e;
  --camo-green: #4d371b;
  --greyish-brown: #4b463f;
  --brownish-grey: #817361;
  --purplish-grey: #79757b;
  --purpley-grey: #a39da6;
  --dusty-lavender: #b9b3bc;
  --orangered: #ff4c0d;
  --brownish-orange: #e36030;
  --melon: #ff7f50;
  --golden-rod: #f1c40f;
  --light-brown: #ac8851;
  --sandy-brown: #c5a26b;
  --sand: #dfba80;
  --sand-two: #ebbf7b;
  --light-tan: #fbd79e;
  --putty: #c4b096;
  --beige: #e9dbc9;
  --very-light-pink: #fff9f2;
  --white: #fff;
  --cerulean: #0086cc;
  --green-blue: #00b894;

	/* User Color */
	
}
[data-theme=dark] {

	
}