
.material-symbols {
	font-family: "Material Symbols";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-feature-settings: "liga";
}

.material-symbols-outlined {
	font-family: "Material Symbols Outlined";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	// direction: ltr;
	-webkit-font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-feature-settings: "liga";
}
@mixin MaterialFontInit {
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	line-height: 1;
	vertical-align: baseline;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	// direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
	-webkit-font-feature-settings: 'liga';
}
@mixin font-ico($txt) {
	content: "#{$txt}";
	font-family: "Material Symbols";
	@include MaterialFontInit;
}
@mixin font-ico-outline($txt) {
	content: "#{$txt}";
	font-family: 'Material Symbols Outlined';
	@include MaterialFontInit;
}
@mixin font-symbol-outline($txt) {
	content: "#{$txt}";
	font-family: 'Material Symbols Outlined';
	@include MaterialFontInit;
}
.fill{ font-variation-settings: 'FILL' 1 }

body{
    font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", 
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
